$text: #F0EFF4;
$background: #0A090C;
$selection-text-and-header-background: #27232F;
$selection-background-and-link-hover: #C6CAFB;
$heading: #DDDBE6;
$border: #1D1A23;
$title: #E3EAF3;

$contessa: #A0A6F8;
$comet: #99AFFF;
$river-bed: #424a5a;

$silver: #ccc;
